.avatar {
  width: 200px;
}

.profile {
  max-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #ebebeb;
  padding: 16px 16px 8px;
  border-radius: 10px;
  margin-top: 16px;
  border: 1px solid #cbcbcb;
}

.stats {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  padding-left: 0;
}

.stats li {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.quantity,
.name {
  font-weight: 700;
}
