.transactionhistory {
  max-width: 400px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;

  background-color: #ebebeb;
  border: 1px solid #cbcbcb;
  border-radius: 10px;
  text-align: center;
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #cbcbcb;
  padding: 8px;
}
